<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<body>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />
<!--[if lt IE 9]>
  <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.21.0/L.Control.Locate.ie.css' rel='stylesheet' />
<![endif]-->

<style type="text/css">
    .leaflet-control-locate {
        border: 1px solid rgba(0,0,0,0.4);
    }

    .leaflet-control-locate a {
        background-color: #fff;
        background-position: -3px, -2px;
    }

    .leaflet-control-locate.active a {
        background-position: -33px -2px;
    }
</style>

  <div id='map' style = 'height:600px'></div>
<script>
    var map = L.mapbox.map('map', 'examples.map-vyofok3q');
  L.marker([19.576568599999998,-99.3254218]).addTo(map);
  map.addControl(L.control.locate({
       locateOptions: {
               maxZoom: 16

}}));
</script>
  <% @locations = Location.all %>
  <% @locations.each do |location| %>
    <script>
      L.marker([<%= location.latitude %>,<%= location.longitude %>]).addTo(map);
    </script>
    <% end %>
  
  
</body>